@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: 100dvh;
  overflow: hidden;
}

/* Ensure Leaflet map fills container */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .decay-tooltip-wrapper {
    font-family: 'Source Sans 3', sans-serif !important;
  }

  .leaflet-popup-content {
    font-family: 'Source Sans 3', sans-serif;
    color: #292524;
  }

  /* Predictive Pulse */
  .rapid-decay-pulse {
    animation: rapidDecayPulse 1.5s ease-in-out infinite alternate !important;
  }
}

@keyframes rapidDecayPulse {
  0% {
    stroke: #dc2626 !important;
    stroke-width: 2px !important;
    fill-opacity: 0.5 !important;
  }

  100% {
    stroke: #fca5a5 !important;
    stroke-width: 4px !important;
    fill-opacity: 0.8 !important;
    filter: drop-shadow(0px 0px 8px rgba(220, 38, 38, 0.8));
  }
}

@media (max-width: 768px) {

  html,
  body,
  #root {
    height: 100dvh;
    height: -webkit-fill-available;
  }
}